$font-stack: 'M PLUS 2', sans-serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-stack;
  background: plum;
  color: #fff;
}

.container {
  max-width: 50%;
  margin: auto;
}

h1 {
  font-size: 4rem;
  margin-top: 1rem;
}

.input-container {
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .task-input {
    width: 75%;
    height: 100%;
    padding: 0 1rem;
    font-size: 1.5rem;
    font-family: $font-stack;
    border: none;
    background: purple;
    color: #fff;
  }

  .add-btn {
    border: none;
    width: 20%;
    height: 100%;
    font-size: 1.5rem;
    font-family: $font-stack;
    background: purple;
    color: #fff;
  
    &:hover {
      cursor: pointer;
    }
  }
}

.tasks-container {
  background: purple;
  width: 100%;
  margin-top: 1rem;

  .task {
    border-bottom: #fff solid 2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;

    button {
      height: 2.2rem;
      width: 2.2rem;
      border-radius: 50%;
      border: none;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.1s;

      &:hover {
        background: plum;
        cursor: pointer;
      }

      i {
        color: #fff;

        &:hover {
          color: #fff;
        }
      }
    }
   
    p {
      margin-left: 1rem;
      font-size: 1.5rem;
    }
  }
}

.checked {
  background: plum;
}