@import "config";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-stack;
  background: $main-colour;
  color: $text-color;
}

.container {
  max-width: 50%;
  margin: auto;
  margin-top: 3rem;
}

h1 {
  font-size: 4rem;
  margin-top: 1rem;
}

.input-container {
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .task-input {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    font-size: 1.5rem;
    font-family: $font-stack;
    border: none;
    border-bottom: $white-border;
    background: $task-colour;
    color: #fff;

    &:focus {
      outline: none;
    }
  }
}

.tasks-container {
  background: $task-colour;
  width: 100%;
  margin-top: 1rem;

  .task {
    border-bottom: $white-border;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;

    .check {
      height: 2.2rem;
      width: 2.2rem;
      border-radius: 50%;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        cursor: pointer;
      }

      i {
        color: #fff;
      }
    }
   
    p {
      margin-left: 1rem;
      font-size: 1.5rem;
    }
  }
}


.info {
  margin-top: 1rem;
  background: $task-colour;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  padding: 1.2rem 1rem;
  border-bottom: $white-border;

  p {
    font-size: 1.2rem;
  }

  button {
    border: none;
    background-color: $task-colour;
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.1s;

    &:hover {
      color: #ddd;
      cursor: pointer;
    }
  }
}

.blue-background {
  background-color: $main-colour;
}